body {
  background-color: #e2e2e2;
  color: #151515;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
  position: relative;
  min-height: 100vh;
}

body::after {
  content: "";
  display: block;
  height: 200px; /* Set same as footer's height */
}
main {
  width: 90%;
  margin: 10px 0 10px 50px;
}
header {
  background-color: #69626dcc;
  filter: opacity(80%);
  width: 100%;
  margin: 0 0 10px 0;
  text-align: left;
  color: white;
  display: flex;
}

header h2 {
  position: relative;
  left: 5%;
  width: 20%;
}
nav a,
nav form {
  flex: 2;
  display: inline;
  font-style: normal;
  line-height: 80px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 30px;
  margin-right: 30px;
}

.navigation {
  color: black;
  text-decoration: none;
}
.navigation:hover {
  background-color: black;
  color: white;
}

th,
td {
  border: 1px solid;
  background: white;
  text-align: left;
  padding: 8px;
}

td a {
  text-decoration: none;
  color: #151515;
}

.buttons-container {
  justify-content: space-evenly;
}
.buttons {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: #151515;
  color: white;
}

.buttons a {
  text-decoration: none;
  color: white;
}

.question-text {
  background: white;
  border: 2px solid black;
  min-height: 30px;
  padding: 8px;
}

.tags {
  display: inline-block;
  align-content: start;
}

.tags > p {
  display: inline-block;
}

.tags > form {
  display: inline-block;
}

.answer {
  background: white;
  border: 2px solid black;
  padding: 8px;
  margin-bottom: 10px;
}

.answer-details {
  display: inline;
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin: 50px 0 0 0;
  background-color: #151515;
  color: white;
  width: 100%;
  text-align: center;
  height: 150px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
