<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Add comment</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>
        <a class="navigation" href="{{url_for('latest_questions')}}">Home</a>
        <a class="navigation" href="{{url_for('question_list')}}"
          >All questions</a
        >
        <a class="navigation" href="{{url_for('question')}}">Ask question</a>

        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>

        {% if session["userid"] %}
        <span class="login">Hello {{session["username"]}}!</span>
        <a
          class="navigation"
          href="{{ url_for('user_profile', username=session['username']) }}"
          >Profile</a
        >
        <a class="navigation" href="{{url_for('logout')}}">Logout</a>
        {% else %}
        <a class="navigation" href="{{url_for('registration')}}"
          >Registration</a
        >
        <a class="navigation" href="{{url_for('login')}}">Login</a>
        {% endif %}
      </nav>
    </header>
    <h1>Your comment</h1>
    {% if errors_msg %}
    <div>
      <h3>Errors</h3>
      <ol>
        {% for error in errors_msg %}
        <li>{{error}}</li>
        {% endfor %}
      </ol>
    </div>
    {% endif %}
    <form method="POST" action="" enctype="multipart/form-data">
      <fieldset>
        <label for="message">
          <textarea
            id="message"
            name="message"
            rows="5"
            cols="100"
            placeholder="Write your comment here"
            required
          >
{{form["message"]}}</textarea
          >
        </label>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
    <footer>
      <p>Authors:</p>
      <ul>
        <li>Daria Aleksandrowa</li>
        <li>Maciej Piech</li>
        <li>Katarzyna Bernat</li>
        <li>Krzysztof Baran</li>
        <li>Monika Bartkowiak</li>
      </ul>
    </footer>
  </body>
</html>
