<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Add user</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>

        <a class="navigation" href="{{url_for('latest_questions')}}">Home</a>
        <a class="navigation" href="{{url_for('question_list')}}">All questions</a>
        <a class="navigation" href="{{url_for('question')}}">Ask question</a>

        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>

        {% if session["userid"] %}
        <span class="login">Hello {{session["username"]}}!</span>
        <a class="navigation" href="{{url_for('logout')}}">Logout</a>
        {% else %}
        <a class="navigation" href="{{url_for('registration')}}">Registration</a>
        <a class="navigation" href="{{url_for('login')}}">Login</a>
        {% endif %}

      </nav>
    </header>
    <h1>Registration</h1>
    {% if errors_msg %}
    <div>
      <h3>Errors</h3>
      <ol>
        {% for error in errors_msg %}
        <li>{{error}}</li>
        {% endfor %}
      </ol>
    </div>
    {% endif %}
    <form method="POST" action="/registration">
      <fieldset>
        <label for="username">
          <input
            type="text"
            name="username"
            placeholder="Write your username here"
            value="{{ form['username'] }}"
          />
        </label>
        <p>
        <label for="password">
          <input
            type="password"
            name="password"
            placeholder="Write your password here"
          />
        </label>
        </p>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
