<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Add question</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>
        <a class="navigation" href="{{url_for('latest_questions')}}"
          >Return to main page</a
        >
        <a class="navigation" href="{{url_for('question_list')}}"
          >All questions</a
        >
        <a class="navigation" href="{{url_for('question')}}">Ask question</a>
        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>
      </nav>
    </header>
    <h1>Ask question</h1>
    {% if errors_msg %}
    <div>
      <h3>Errors</h3>
      <ol>
        {% for error in errors_msg %}
        <li>{{error}}</li>
        {% endfor %}
      </ol>
    </div>
    {% endif %}
    <form method="POST" action="/add-question" enctype="multipart/form-data">
      <fieldset>
        <label for="title"
          >Title: <input id="title" name="title" type="text"
          value="{{form["title"]}}" required />
        </label>
      </fieldset>
      <fieldset>
        <label for="message">
          <textarea
            id="message"
            name="message"
            rows="5"
            cols="100"
            placeholder="Write your question here"
            required
          >
{{form["message"]}}</textarea
          >
        </label>
        <p>
          <label for="image"
            >Upload image:
            <input id="image" type="file" name="image" value="" />
          </label>
        </p>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
    <footer>
      <p>Authors:</p>
      <ul>
        <li>Daria Aleksandrowa</li>
        <li>Maciej Piech</li>
        <li>Katarzyna Bernat</li>
        <li>Krzysztof Baran</li>
        <li>Monika Bartkowiak</li>
      </ul>
    </footer>
  </body>
</html>
