<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Add Tag</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>
        <a class="navigation" href="{{url_for('latest_questions')}}"
          >Return to main page</a
        >
        <a class="navigation" href="{{url_for('question_list')}}"
          >All questions</a
        >
        <a class="navigation" href="{{url_for('question')}}">Ask question</a>\
        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>
      </nav>
    </header>

    <h1>Add Tag to Question</h1>
    {% if errors_msg %}
    <div>
      <h3>Errors</h3>
      <ol>
        {% for error in errors_msg %}
        <li>{{error}}</li>
        {% endfor %}
      </ol>
    </div>
    {% endif %}

    <form
      method="POST"
      action="{{ url_for('add_tag', question_id=question_id) }}"
    >
      <label for="tag_name">Tag Name:</label>
      <input type="text" name="tag_name" id="tag_name"
      value="{{form["tag_name"]}}" />

      <label for="existing_tags">Or select an existing tag:</label>
      <select name="existing_tag" id="existing_tags">
        <option value="">-- Select Tag --</option>
        {% for tag in all_tags %}
        <option value="{{ tag['name']}}">{{ tag['name'] }}</option>
        {% endfor %}
      </select>

      <button type="submit">Add Tag</button>
    </form>
    <footer>
      <p>Authors:</p>
      <ul>
        <li>Daria Aleksandrowa</li>
        <li>Maciej Piech</li>
        <li>Katarzyna Bernat</li>
        <li>Krzysztof Baran</li>
        <li>Monika Bartkowiak</li>
      </ul>
    </footer>
  </body>
</html>
