<!DOCTYPE html>
<html>
  <head>
    <title>Add answer</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Your Answer</h1>
    <form method="POST" action="">
      <fieldset>
        <label for="message">
          <textarea
            id="message"
            name="message"
            rows="5"
            cols="100"
            placeholder="Write your answer here"
            required
          ></textarea>
        </label>
        <p>
          <label for="image"
            >Upload image: <input if="image" type="file" name="file" value="" />
          </label>
        </p>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
