<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Edit Answer</title>
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>
        <a class="navigation" href="{{url_for('latest_questions')}}">Home</a>
        <a class="navigation" href="{{url_for('question_list')}}"
          >All questions</a
        >
        <a class="navigation" href="{{url_for('users_list')}}">All users</a>
        <a class="navigation" href="{{url_for('question')}}">Ask question</a>

        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>

        {% if session["userid"] %}
        <span class="login">Hello {{session["username"]}}!</span>
        <a
          class="navigation"
          href="{{ url_for('user_profile', username=session['username']) }}"
          >Profile</a
        >
        <a class="navigation" href="{{url_for('logout')}}">Logout</a>
        {% else %}
        <a class="navigation" href="{{url_for('registration')}}"
          >Registration</a
        >
        <a class="navigation" href="{{url_for('login')}}">Login</a>
        {% endif %}
      </nav>
    </header>
    <h1>Edit Answer</h1>
    {% if question %}
    <h2>Question</h2>
    <h1>{{ question.title }}</h1>
    <p class="question-text">{{ question.message }}</p>
    <br />
    {% endif %}{% if answer %}
    <h2>Answer</h2>
    <div class="answer">
      <p>{{ answer['message'] }}</p>
      {% if answer['image'] %}
      <img src="/{{ answer['image'] }}" width="200" />
      {% endif %}
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      <label for="message">Message:</label><br />
      <textarea id="message" name="message">{{ answer.message }}</textarea
      ><br /><br />
      <label for="image">Image:</label><br />
      <input type="file" id="image" name="image" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <form method="GET" action="/question/{{question['id']}}">
      <input type="submit" value="Cancel" />
    </form>
    <footer>
      <p>Authors:</p>
      <ul>
        <li>Daria Aleksandrowa</li>
        <li>Maciej Piech</li>
        <li>Katarzyna Bernat</li>
        <li>Krzysztof Baran</li>
        <li>Monika Bartkowiak</li>
      </ul>
    </footer>
  </body>
</html>
