<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Edit Comment</title>
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>
        <form method="GET" action="/">
          <input type="submit" value="Return to main page" />
        </form>
        <form method="GET" action="/list">
          <input type="submit" value="All questions" />
        </form>
        <form method="GET" action="/add-question">
          <input type="submit" value="Ask question" />
        </form>
        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>
      </nav>
    </header>
    <h1>Edit Comment</h1>
    <form method="post" enctype="multipart/form-data">
      <label for="message">Message:</label><br />
      <textarea id="message" name="message">{{ comment.message }}</textarea><br />
      <input type="submit" value="Submit" />
    </form>
    <form method="GET" action="/question/{{question['id']}}">
      <input type="submit" value="Cancel" />
    </form>
  </body>
</html>
