<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Question Detail</title>
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>

        <a class="navigation" href="{{url_for('latest_questions')}}">Home</a>
        <a class="navigation" href="{{url_for('question_list')}}">All questions</a>
        <a class="navigation" href="{{url_for('users_list')}}">All users</a>
        <a class="navigation" href="{{url_for('question')}}">Ask question</a>

        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>

        {% if session["userid"] %}
        <span class="login">Hello {{session["username"]}}!</span>
        <a class="navigation" href="{{url_for('logout')}}">Logout</a>
        {% else %}
        <a class="navigation" href="{{url_for('registration')}}">Registration</a>
        <a class="navigation" href="{{url_for('login')}}">Login</a>
        {% endif %}

      </nav>
    </header>
    <main>
      <div class="buttons-container">
        {% if question['user_id'] == user_id %}
        <div class="buttons">
          <a href="/question/{{question['id']}}/delete">Delete question</a>
        </div>
        <div class="buttons">
          <a href="{{ url_for('question_edit', question_id=question['id']) }}"
            >Edit question</a
          >
        </div>
        <div class="buttons">
          <a href="{{ url_for('add_tag', question_id=question['id']) }}"
            >Add tag</a
          >
        </div>
        {% endif %} {% if messages_msg %}
        <div>{{messages_msg}}</div>
        {% endif %} {% if question is not none %}
        <h1>{{ question['title'] }}</h1>
        <p class="question-text">{{ question['message'] }}</p>
        <br />
        {%endif%}
        <div>
          <h3>Tags</h3>
          {% if tags is not none %} {% for tag in tags %}
          <div class="tags">
            <p>{{tag['name']}}</p>
            {% if question['user_id'] == user_id and tag['tag_id'] is not none
            %}
            <form
              method="GET"
              action="/question/{{question['id']}}/tag/{{tag['tag_id']}}/delete"
            >
              <input type="submit" value="X" />
            </form>
            {% endif %}
          </div>
          {%endfor%} {%endif%}
        </div>
        <h2>Comments</h2>
        <div class="buttons-container">
          <div class="buttons">
            <a href="/question/{{question['id']}}/new-comment">Add comment</a>
          </div>
        </div>
        {% if comments|length > 0 %} {%for comment in comments %}
        <div class="comment">
          <div class="comment-details">
            <p>
              Comment ID: {{comment['id']}} Date: {{comment['submission_time']}}
            </p>
          </div>
          <p>{{comment['message']}}</p>
          {% if comment['user_id'] == user_id %}
          <div class="buttons-container">
            <div class="buttons">
              <a
                href="/question/{{question['id']}}/comments/{{comment['id']}}/delete"
                onclick="return confirm('Are you sure you want to delete this comment?')"
                >Delete coment</a
              >
            </div>
            <div class="buttons">
              <a
                href="/question/{{question['id']}}/comment/{{comment['id']}}/edit"
                >Edit coment</a
              >
            </div>
          </div>
          {%endif%}
        </div>
        {% endfor %} {% else %}
        <p>There are no comments yet</p>
        {% endif %}
        <h2>Answers</h2>
        <div class="buttons">
          <a href="/question/{{question['id']}}/new-answer">Add answer</a>
        </div>
        {% if answers|length > 0 %} {% for answer in answers %}
        <div class="answer">
          <div class="answer-details">
            <p>
              Answer ID: {{ answer['id'] }} Date:{{ answer['submission_time'] |
              post_time }} Votes: {{ answer['vote_number'] }}
            </p>
          </div>
          <p>{{ answer['message'] }}</p>
          {% if answer['image'] %}
          <img src="/{{ answer['image'] }}" width="200" />
          {% endif %}
          <div class="buttons-container">
            <div class="buttons">
              <a
                href="/question/{{ question['id'] }}/answer/{{ answer['id'] }}/new-comment"
                >Add comment</a
              >
            </div>
            {% if answer['user_id'] == user_id %}
            <div class="buttons">
              <a href="/question/{{ question['id'] }}/delete/{{ answer['id'] }}"
                >Delete answer</a
              >
            </div>
            <div class="buttons">
              <a
                href="/question/{{ question['id'] }}/answer/{{ answer['id'] }}/edit"
                >Edit answer</a
              >
            </div>
            {% endif %}
          </div>
          {% if answer['user_id'] != user_id and
          request.cookies.get("vote_answer_" + question['id'] | string + "-" +
          answer['id'] | string) != "1" %}
          <form
            method="GET"
            action="/question/{{ question['id'] }}/vote/{{ answer['id'] }}"
          >
            <input type="submit" value="Add vote" />
          </form>
          {% endif %}
          <div>
            {% if comments_to_answer|length > 0 %} {% for comment_to_answer in
            comments_to_answer %} {% if comment_to_answer['answer_id'] ==
            answer['id'] %}
            <div class="comment">
              <div class="comment-details">
                <p>
                  Comment ID: {{ comment_to_answer['id'] }} Date: {{
                  comment_to_answer['submission_time'] }}
                </p>
              </div>
              <p>{{ comment_to_answer['message'] }}</p>
            </div>
            {% endif %} {% endfor %} {% endif %}
          </div>
        </div>
        {% endfor %} {% else %}
        <p>There are no answers yet</p>
        {% endif %}
      </div>
    </main>
    <footer>
      <p>Authors:</p>
      <ul>
        <li>Daria Aleksandrowa</li>
        <li>Maciej Piech</li>
        <li>Katarzyna Bernat</li>
        <li>Krzysztof Baran</li>
        <li>Monika Bartkowiak</li>
      </ul>
    </footer>
  </body>
</html>
