<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Ask Mate</title>
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>

        <a class="navigation" href="{{url_for('latest_questions')}}">Home</a>
        <a class="navigation" href="{{url_for('question_list')}}">All questions</a>
        <a class="navigation" href="{{url_for('users_list')}}">All users</a>
        <a class="navigation" href="{{url_for('question')}}">Ask question</a>

        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>

        {% if session["userid"] %}
        <span class="login">Hello {{session["username"]}}!</span>
        <a class="navigation" href="{{url_for('logout')}}">Logout</a>
        {% else %}
        <a class="navigation" href="{{url_for('registration')}}">Registration</a>
        <a class="navigation" href="{{url_for('login')}}">Login</a>
        {% endif %}

      </nav>
    </header>
    <main>
      <h1>Search result for {{search}}</h1>
      {% if messages_msg %}
      <div>{{messages_msg}}</div>
      {% endif %} {% if found_question|length > 0 or found_answers|length > 0%}
      {%for user_question in found_questions %}
      <div>
        <p>
          Title:
          <a href="/question/{{user_question['id']}}"
            >{{ user_question['title']|highlight(search)|safe }}</a
          >
        </p>
        <p>Submision time: {{user_question['submission_time'] | post_time}}</p>
        <p>{{ user_question['message']|highlight(search)|safe }}</p>
      </div>
      {%endfor%} {%for user_answer in found_answers %}
      <article>
        {% if user_answer['question_id'] not in found_questions['id'] %}
        <p>
          Title:
          <a href="/question/{{user_answer['question_id']}}"
            >{{ user_answer['title']|highlight(search)|safe }}</a
          >
        </p>
        <p>Answer</p>
        <p style="margin-left: 40px">
          {{ user_answer['message']|highlight(search)|safe }}
        </p>
        {%endif%}
      </article>
      {%endfor%} {%else%}
      <p>No result found</p>
      {%endif%}
    </main>
    <footer>
      <p>Authors:</p>
      <ul>
        <li>Daria Aleksandrowa</li>
        <li>Maciej Piech</li>
        <li>Katarzyna Bernat</li>
        <li>Krzysztof Baran</li>
        <li>Monika Bartkowiak</li>
      </ul>
    </footer>
  </body>
</html>
