<!DOCTYPE html>
<html>
  <head>
    <title>Ask Mate</title>
  </head>
  <body>
    <header>
      <a href="/add-question">Ask question</a>
    </header>
    <main>
      <h1>Ask Mate</h1>
      <table>
        <tr>
          <th>Id</th>
          <th>Question title</th>
          <th>submission_time</th>
          <th>vote_number</th>
          <th>message</th>
          <th>imag</th>
        </tr>
        {%for user_question in user_questions %}
        <tr>
          <td>
            <a href="/question/{{user_question['id']}}"
              >{{user_question['id']}}</a
            >
          </td>
          <td>{{user_question['title']}}</td>
          <td>{{user_question['submission_time']}}</td>
          <td>{{user_question['vote_number']}}</td>
          <td>{{user_question['message']}}</td>
          <td>
          {% if user_question['image'] %}
          <img src="{{user_question['image']}}" width="200" />
          {% endif %}
          </td>
        </tr>
        {%endfor%}
      </table>
    </main>
  </body>
</html>
