<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static\images\styles.css" />
    <title>Ask Mate</title>
  </head>
  <body>
    <header>
      <form method="GET" action="/">
        <input type="submit" value="Return to main page" />
      </form>
      <form method="GET" action="/add-question">
        <input type="submit" value="Ask question" />
      </form>
      <form method="POST" action="/search">
        <input type="text" name="search" placeholder="Search..." />
        <button type="submit">Search</button>
      </form>
    </header>
    <main>
      <h1>Search result for {{search}}</h1>
      {% if messages_msg %}
      <div>{{messages_msg}}</div>
      {% endif %} {%for user_question in found_questions %}
      <article>
        <p>
          Title:
          <a href="/question/{{user_question['id']}}"
            >{{ user_question['title']|highlight(search)|safe }}</a
          >
        </p>
        <p>Submision time: {{user_question['submission_time'] | post_time}}</p>
        <p>{{ user_question['message']|highlight(search)|safe }}</p>
        {%for user_answer in found_answers %} {%if user_question['id'] ==
        user_answer['question_id']%}
        <p style="margin-left: 40px">
          {{ user_answer['message']|highlight(search)|safe }}
        </p>
        {%endif%} {%endfor%}
      </article>
      {%endfor%} {%for user_answer in found_answers %}
      <article>
        {% if user_answer['question_id'] not in found_questions['id'] %}
        <p>
          Title:
          <a href="/question/{{user_answer['question_id']}}"
            >{{ user_answer['title']|highlight(search)|safe }}</a
          >
        </p>
        <p>Answer</p>
        <p style="margin-left: 40px">
          {{ user_answer['message']|highlight(search)|safe }}
        </p>
        {%endif%}
      </article>
      {%endfor%}
    </main>
  </body>
</html>
