<!DOCTYPE html>
<html>
  <head>
    <title>Question Detail</title>
  </head>
  <body>
    <header>
      <a href="/">Return to main page</a>
      <a href="/question/{{question['id']}}/new-answer">Add answer</a>
      <a href="/question/{{question['id']}}/delete">Delete question</a>
    </header>
    {% if messages_msg %}
    <div>{{messages_msg}}</div>
    {% endif %} {% if question is not none %}
    <main>
      <h1>{{ question['title'] }}</h1>
      <p>{{ question['message'] }}</p>
      <br />
      <h1>Answers</h1>
      {% else %}
      <p>There is no question.</p>
      {% endif %} {% if answers is not none %} {%for answer in answers %}
      <div>
        <p>Votes: {{answer['vote_number']}} Answe ID: {{answer['id']}}</p>
        <p>{{answer['message']}}</p>
        {% if answer['image'] %}
        <img src="/{{answer['image']}}" width="200" />
        {% endif %}
        <a
          href="{{url_for('delete_answer', question_id = question.id, answer_id=answer.id )}}"
          >Delete answer</a
        >
      </div>
      {% endfor %} {% else %}
      <p>There are no answers yet</p>
      {% endif %}
    </main>
  </body>
</html>
