<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Ask Mate</title>
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>
        <a class="navigation" href="{{url_for('latest_questions')}}">Home</a>
        <a class="navigation" href="{{url_for('question_list')}}"
          >All questions</a
        >
        <a class="navigation" href="{{url_for('question')}}">Ask question</a>

        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>

        {% if session["userid"] %}
        <span class="login">Hello {{session["username"]}}!</span>
        <a
          class="navigation"
          href="{{ url_for('user_profile', username=session['username']) }}"
          >Profile</a
        >
        <a class="navigation" href="{{url_for('logout')}}">Logout</a>
        {% else %}
        <a class="navigation" href="{{url_for('registration')}}"
          >Registration</a
        >
        <a class="navigation" href="{{url_for('login')}}">Login</a>
        {% endif %}
      </nav>
    </header>
    <main>
      <h1>Ask Mate</h1>
      <fieldset>
        <label for="dropdown"
          >Sort
          <select
            id="dropdown"
            name="dropdown"
            onchange="if (this.value)window.location.href=this.value"
          >
            <option value="">(select one)</option>
            <option value="/list?order_by=title&order_direction=asc">
              by title ascending
            </option>
            <option value="/list?order_by=title&order_direction=desc">
              by title descending
            </option>
            <option value="/list?order_by=submission_time&order_direction=asc">
              by submision time ascending
            </option>
            <option value="/list?order_by=submission_time&order_direction=desc">
              by submision time descending
            </option>
            <option value="/list?order_by=vote_number&order_direction=asc">
              by votes ascending
            </option>
            <option value="/list?order_by=vote_number&order_direction=desc">
              by votes descending
            </option>
          </select>
        </label>
      </fieldset>
      {% if messages_msg %}
      <div>{{messages_msg}}</div>
      {% endif %}
      <table>
        <tr>
          <th>Id</th>
          <th>Question title</th>
          <th>Submission time</th>
          <th>Vote number</th>
          <th>Message</th>
          <th>Imagine</th>
          <th>Comment</th>
        </tr>
        {%for user_question in user_questions %}
        <tr>
          <td>
            <a href="/question/{{user_question['id']}}"
              >{{user_question['id']}}</a
            >
          </td>
          <td>
            <a href="/question/{{user_question['id']}}"
              >{{user_question['title']}}</a
            >
          </td>
          <td>{{user_question['submission_time'] | post_time}}</td>
          <td>
            {{user_question['vote_number']}} {% if user_question['user_id'] !=
            user_id and
            request.cookies.get("vote_question_"+user_question['id']|string) !=
            "1" %}
            <form method="GET" action="/question/{{user_question['id']}}/vote">
              <input type="submit" value="Add vote" />
            </form>
            {% endif %}
          </td>
          <td>
            <a href="/question/{{user_question['id']}}"
              >{{user_question['message']}}</a
            >
          </td>
          <td>
            {% if user_question['image'] %}
            <img src="{{ user_question['image'] }}" width="200" />
            {% endif %}
          </td>
          <td>
            <form
              method="GET"
              action="/question/{{user_question['id']}}/new-comment"
            >
              <input type="submit" value="Add new comment" />
            </form>
          </td>
        </tr>
        {%endfor%}
      </table>
    </main>
    <footer>
      <p>Authors:</p>
      <ul>
        <li>Daria Aleksandrowa</li>
        <li>Maciej Piech</li>
        <li>Katarzyna Bernat</li>
        <li>Krzysztof Baran</li>
        <li>Monika Bartkowiak</li>
      </ul>
    </footer>
  </body>
</html>
