<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Edit Question</title>
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>
        <a class="navigation" href="{{url_for('latest_questions')}}"
          >Return to main page</a
        >
        <a class="navigation" href="{{url_for('question_list')}}"
          >All questions</a
        >
        <a class="navigation" href="{{url_for('question')}}">Ask question</a>
        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>
      </nav>
    </header>
    <h1>Edit Question</h1>
    <form method="post" enctype="multipart/form-data">
      <label for="title">Title:</label><br />
      <input
        type="text"
        id="title"
        name="title"
        value="{{ question.title }}"
      /><br /><br />
      <label for="message">Message:</label><br />
      <textarea id="message" name="message" value="{{ question.title }}">
{{ question.message }}</textarea
      ><br /><br />
      <label for="image">Image:</label><br />
      <input type="file" id="image" name="image" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <form method="GET" action="/question/{{question['id']}}">
      <input type="submit" value="Cancel" />
    </form>
    <footer>
      <p>Authors:</p>
      <ul>
        <li>Daria Aleksandrowa</li>
        <li>Maciej Piech</li>
        <li>Katarzyna Bernat</li>
        <li>Krzysztof Baran</li>
        <li>Monika Bartkowiak</li>
      </ul>
    </footer>
  </body>
</html>
