<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Ask Mate</title>
  </head>
  <body>
    <header>
      <h2>Ask Mate</h2>
      <nav>
        <a class="navigation" href="{{url_for('latest_questions')}}"
          >Return to main page</a
        >
        <a class="navigation" href="{{url_for('question_list')}}"
          >All questions</a
        >
        <a class="navigation" href="{{url_for('question')}}">Ask question</a>
        <form method="POST" action="{{ url_for('search', q=search) }}">
          <input
            type="text"
            name="search"
            placeholder="Search..."
            value="{{ search }}"
          />
          <button type="submit">Search</button>
          {% if found_questions or found_answers and search %}
          <input type="hidden" name="q" value="{{ search }}" />
          {% endif %}
        </form>
        {% if session["userid"] %}
        <span class="login">Hello {{session["username"]}}!</span>
        <a class="navigation" href="{{url_for('logout')}}">Logout</a>
        {% else %}
        <a class="navigation" href="{{url_for('registration')}}">Registration</a>
        <a class="navigation" href="{{url_for('login')}}">Login</a>
        {% endif %}
      </nav>
    </header>
    <main>
      <h1>Users</h1>
      <fieldset>
        <table>
          <tr>
          <th>User Name</th>
          <th>Submission time</th>
          </tr>
          {%for user in users %}
          <tr>
          <td>{{user['username']}}</td>
          <td>{{user['submission_time']}}</td>
          </tr>
          {%endfor%}
        </table>
      </fieldset>
      {% if messages_msg %}
      <div>{{messages_msg}}</div>
      {% endif %}

    </main>
    <footer>
      <p>Authors:</p>
      <ul>
        <li>Daria Aleksandrowa</li>
        <li>Maciej Piech</li>
        <li>Katarzyna Bernat</li>
        <li>Krzysztof Baran</li>
        <li>Monika Bartkowiak</li>
      </ul>
    </footer>
  </body>
</html>
